.navbar{
	background-color:#4682B4;
}
.container>.row{
padding-top:200px;
padding-bottom:50px;
background-color:#e3e8e8;
}
#p1{
	color:white;
	text-align:center;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

h2 {
    text-align: center;
    margin: 30px 0;
}
.card-group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}
h4.title {
  text-align: center;
}
.container>.col-md-4{
	padding-top:60px;
}
