.page-header{
padding-top:0px;
background:#16629E;
margin: 0px 0 0px;
}
#p1{
	border: 0px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	background-color: #16629E;
   
}
#im1{
	float: left;
}
#im2{
	float: left;
}
#im3{
	float: left;
}
#im4{
	float: left;
}
.modal-header, h4, .close {
      background-color:#16629E;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  #p1{
	background:#16629E;
  color: white;
  }
h1{
	 color:#16629E;
}
#h3{
	color:#16629E;
}
/* Set the fixed height of the footer here */
#footer {
  height: 200px;
  background-color:#D6DDE5;
  margin-top:100px;
  padding-top:20px;
}

#ul1{
	color:#16629E;
}
#ul2{
	color:#16629E;
}
#g1{
	background:#16629E;
}


.page-header{
padding-top:0px;
background:#16629E;
margin: 0px 0 0px;
}
#p1{
	border: 0px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
	background-color: #16629E;
   
}
#im1{
	float: left;
}
#im2{
	float: left;
}
#im3{
	float: left;
}
#im4{
	float: left;
}
.modal-header, h4, .close {
      background-color:#16629E;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  #p1{
	background:#16629E;
  color: white;
  }
h1{
	 color:#16629E;
}
#h3{
	color:#16629E;
}
/* Set the fixed height of the footer here */
#footer {
  height: 200px;
  background-color:#D6DDE5;
  margin-top:100px;
  padding-top:20px;
}

#ul1{
	color:#16629E;
}
#ul2{
	color:#16629E;
}
#g1{
	background:#16629E;
}
#c1{
	background-color: #4CAF50;
}